/* CSS Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img, ol, ul, li {
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */
body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  background-color: #49306b;
}

/* CV links */
.container {
  display: flex;
  gap: 2rem;
}

.cv-link {
  text-decoration: none;
  color: #e1cdb5;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;

  flex-basis: 100%;
  align-self: center;
  text-align: center;
}

.cv-link:hover {
  color: #ff8cc6; /* old value: 635380 */
  background-color: #ace4aa;
}
